body
{
	background-color:rgb(255,255,252);
}
.page
{
	width:1000px;
	height:auto;
}
.header
{
	width:1000px;
	height:100px;
}
.header img
{
	 position: absolute;
    top: 0;
    left: 30px;
    width: 1200px;
  height: 100px;
  background: #555;
}

.header h3
{
	color:#F46F31;
	top: 70px;
	left:380px;
	position:absolute;
	font-size:30pt;
}

.linkspart
{
	width:1270;
	height:40px;
	background-color:#BE9647;
	border-radius:0px;
	position:relative;
	top:60px;
	left:-140px;
	
}

.linkspart a
{
	color:white;
	text-decoration:none;
	position:relative;
	right:0px;
	top:7px;
}

	
.linkspart a:hover
{
	color:white;
	background-color:#AB8740;	
	border-radius:0px;

}

.bodypart
{
	width:1000px;
	height:650px;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:90px;
	left:-15px;
}

.bodypart .linkspart
{
	width:280px;
	background-color:#BE9647;
	height:600px;
	border-radius:10px;
	position:absolute;
	left:710px;
	top:20px;
}

.bodypart .linkspart h2
{
	color:white;
	position:relative;
	top:2px;
}

.bodypart .linkspart .links
{
	width:270px;
	height:520px;	
	background-color:white;
	border-radius:10px;
	position:relative;
}

.bodypart .linkspart .links .linkbox
{
	width:270px;
	height:130px;
	position:relative;
}

.bodypart .linkspart .links .linkbox img
{
	
	width:110px;
	height:110px;
	position:relative;
	left:-105px;
	
}
.bodypart .newspart
{
	width:280px;
	background-color:#BE9647;
	height:600px;
	border-radius:10px;
	position:absolute;
	left:20px;
	top:20px;
}

.bodypart .newspart h2
{
	color:white;
	position:relative;
	top:10px;
}

.bodypart .newspart .news
{
	width:270px;
	height:520px;	
	background-color:white;
	border-radius:10px;
}

.bodypart .newspart .news h2
{ 
	color:blue;
	text-align:justify;
	padding-left:5px;
	padding-right:5px;
}
.bodypart .newspart .news h4
{ 

	text-align:justify;
	padding-left:5px;
	padding-right:5px;
}
.imagebox
{
	width:1000px;
	height:300px;
	background-color:white;
	border-radius:10px;
	position:relative;
	left:-15px;
	top:70px;
}
	
.imagebox .image
{
	width:950px;
	height:300px;
	border-style:Double;
	border-width:2px;
	position:relative;
	top:10px;
	left:4px;
	background-repeat:no-repeat;
}
	


.bodypart .contentpart
{
	width:390px;
	background-color:#BE9647;
	height:600px;
	border-radius:10px;
	position:absolute;
	left:310px;
	top:20px;
}
.bodypart .contentpart h2
{
	color:white;
	padding-top:10px;
}

.bodypart .contentpart .content
{
	width:380px;
	height:522px;	
	background-color:white;
	border-radius:10px;
	position:relative;
	top:-10px;
}

.bodypart.contentpart.content p
{
	text-align:justify;
	padding-left:10px;
	padding-right:10px;
}



.awards
{
	width:1250px;
	height:115px;
	background-color:#BE9647;
	border-radius:10px;
	position:relative;
	left:-125px;
	top:90;
}
.footer
{
	margin-top:30px;
	margin-bottom:30px;
	color:#BE9647;
	font-size:120%;
}
iframe[seamless] {
    border: none;
}

.button:hover {background-color:white}

.button:active {
  background-color: white;
  box-shadow: 0 5px #FFFFFC;
  transform: translateY(4px);
}





body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

 label {
 	      text-align: left;
        
        width: 150px;
      }